/* место для вашего кода */
.header {
    margin-top: 92px;
    display: flex;
    gap: 18px;
    grid-template-columns: 1fr min-content 1fr;
}

.header .contacts {
    padding-top: 7px;
    letter-spacing: 0.12px;
    flex: 2;
}

.header .contacts .contact{
    line-height: 1.5rem;
    width: 210px;
}

.header .header-menu{
    padding-left: 52px;
}

.header .block-logo{flex: 2.15;padding-left: 22px;}

.header .menu-links {
    margin-top: 45px;
    font-size: 18px;
    display: flex;
    gap: 31px;
}

.header .menu-links  .menu-item:first-child{
    list-style-type: none;
}

.header .menu-links  .menu-item {
    letter-spacing: .2px;
}

ul {
    list-style-type: circle;
}

.page-main {
    width: 1100px;
    margin: 0 auto;
    margin-top: 92px;
    background: url('../images/cover.jpg') no-repeat;
    background-size: cover;
}

.page-main .title-line{
    text-transform: uppercase;
}

.page-main .block-content .title{
    padding-top: 162px;
    margin-bottom: 126px;
}

.contact{
    font-size: 18px;
    line-height: 1.55rem;
    letter-spacing: 0.2px;
    display: block;
}

.page-main .block-content {
    padding: 0px 44px 30px 50px;
}

.page-main .page-wrapper ,
.block-content .lot-wrapper  {
    background-color: rgba(0, 0, 0, .5);
}

.subline .text {
    width: 638px;
    text-align: justify;
    text-align-last: justify;
    margin-top: 3px;
}

.page-lots {
    width: 1052px;
    margin: 0 auto;
    margin-top: 180px;
    margin-left: 24px;
}

.page-lots .block-content {
    display: flex;
    justify-content: space-between;
}

.page-lots .block-footer{
    padding: 30px 0 0 40px;
}

.page-lots .block-header{
    margin-bottom: 26px;
    padding-left: 40px;
}

.block-content .lot {
    background-size: cover;
    background-position: center;
    width: 334px;
}

.block-content .lot-wrapper {
    padding: 52px 40px 26px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: auto 0;
    color: #ffffff;
    height: 100%;
}
.lot{
    display: block;
}

.lot-film {
    background: url('../images/card-lot-01.jpg');
}

.lot-book {
    background: url('../images/card-lot-02.jpg');
}

.lot-painting {
    background: url('../images/card-lot-03.jpg');
}

.lot-content{
    font-size: 1.25rem;
    margin-top: 0;
}

.link{
    font-size: 1.25rem;
}

.block-header{
    font-weight: bold;
}

.block-header, .lot-title {
    text-transform: uppercase;
}

.lot-title {
    text-decoration: underline;
    letter-spacing: 0.3px;
    line-height: 26px;
}

.page-about-auction {
    width: 1052px;
    margin: 172px auto 0;
    display:grid;
    grid-template-columns: 334px 1fr 1fr;
    grid-template-rows: 208px auto;
    grid-template-areas:
        'logo header header'
        'logo content content';
    gap: 24px;
    justify-self: start;
}

.page-about-auction .logo{
    width: 148px;
}

.page-about-auction .block-logo{
    grid-area: logo;
}

.page-about-auction .block-header{
    grid-area: header;
}

.page-about-auction .block-content{
    grid-area: content;
}
.page-about-auction .block-content p{
     margin-bottom:12px;
     font-size: 20px;
     margin-block-start: 26px;
     margin-block-end: 20px;
}

.page-about-auction .block-header {
    text-transform: uppercase;
    font-size: 40px;
    line-height: 16.5rem;
}

.page-about-auction .block-logo {
    height: 100%;
    padding-top: 9px;
}

.page-about-auction p {
    letter-spacing: .1px;
}

.header .logo {
    width: 136px;
}

.logo-circle {
    background-color: #000000;
    border-radius: 50%;
    width: 240px;
    height: 240px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    width: 1000px;
    margin: 0 auto;
    margin-top: 160px;
    display: flex;
}

.footer a .selected{
    text-decoration: none;
    pointer-events: none;
}

.footer .contacts {
    flex: 2;
}

.footer .header-menu{
    text-align: center;
    flex: 5;
}

.footer-menu{
    padding-left: 31px;
    letter-spacing: 1.4px;
}

.footer-menu, .social-links {
    list-style-type: none;
    line-height: 1.35rem;
}

.social-links {
    display: flex;
    justify-content: space-between;
    gap: 48px;
    flex: 1;
}

.social-links .link {
    display: block;
    width: 48px;
    height: 48px;
}

.social-links .link-youtube .link {
    background: url("../images/yt.svg");
}

.social-links .link-vk .link {
    background: url("../images/vk.svg");
}

.social-links .link-pinterest .link {
    background: url("../images/pinterest.svg");
}

.title-line {
    color: #ffffff;
    font-size: 102px;
    font-weight: bold;
    display: flex;
}
.letter{
    padding-right: 30px;
    display: block;
}

.letter.with-spacing{
    padding-right: 60px;
}
.letter:last-child{
    padding-right: 0;
}

.title-line-center {
    padding-top: 8px;
    padding-right: 58px;
    justify-content: center;
}

.title-line-right {
    justify-content: right;
}

.subline {
    display: flex;
    justify-content: space-between;
    width: 1000px;
    padding-left: 28px;
}

.subline .text {
    color: #ffffff;
    font-size: 22px;
    text-transform: uppercase;
    line-height: 3rem;
}

.subline button {
    color: #ffffff;
    font-size: 22px;
    height: 50px;
    border: 1px solid #ffffff;
    background-color: transparent;
    padding: 0 32px;
    text-transform: uppercase;
    font-family: inherit;
}
